/* selectors */
    /* nameOfTag{} = for tag html */
    /* .{} = for class */
    /* #{} = for id */

/* it is possible to declare variables on css3 */
:root{
    --red: #E50914;
    --black: #141414;
}

/* this * refers to all elements in html. Bellow is a "reset css" of default properties */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;     /* as elements inside a box/div grows, the size of box wrows too. This property limit the width and heigh of each box(div) */
}

/* base elements */
body{
    background: var(--black);
    font-family: 'Times New Roman', Times, serif;
    color:white;
}

header .container{
    display:flex;       /* flex box to align elements */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--red);
    font-family: 'Arial Black', 'Times New Roman', Times, serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color:#AAA;
    margin-right: 10px;
}

/* when user pass mouse on menu link change temporary its color */
header nav a:hover{
    color:#fff;
}

/* game principal */
.game-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/ac2.jpg');     /* gradient has 2 colours, thats why same colour twice. */
    
    height: 400px;
    background-size: cover;    /* image size will adapt to div box size */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    /* it start from left */
}

.game-principal .description {
    margin-bottom: 40px;
    margin-top: 10px;
}

.game-principal .title{
    margin-top: 15%;        /* recomend to work with fluid position (applying % instead of px when possible */
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button{
    background-color: rgba(0,0,0,.50);
    border: none;
    color:white;
    padding: 15px 30px;     /* when 1 value - apply in 4 sides, when 2 values - first value = above and down sides. and second value left and right sides. */
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;        /* it will change cursor to a "hand" when user pass mouse on buttons elements*/
    transition: .3s ease all;   /* takes a time to apply button animation when user pass the mouse */
}

.button:hover {
    background-color: white;
    color:black;
}

/* font awesome website reference is a script to incorporate in html page and using icons by passing reference*/
.button i {
    margin-right: 8px;;
}